</div>
</div>
<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
<!--        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>-->

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">학습현황</a></li>
<!--                <li>
                    <span class="opener">토이 프로젝트</span>
                    <ul>
                        <li><a href="/api/words/list">단어장</a></li>
                        <li><a href="/api/chat/list">웹채팅창</a></li>
                    </ul>
                </li>-->
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>문의</h2>
            </header>
            <p>메일과 깃허브 주소입니다.</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="cws070993@gmail.com">cws070993@gmail.com</a></li>
                <li class="icon brands fa-github"><a href="https://github.com/sky7214sky72?tab=repositories">https://github.com/sky7214sky72?tab=repositories</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>

    </div>
</div>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/index.js"></script>
<script src="/assets/js/chat.js"></script>
</body>
</html>