{{>layout/header}}
<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>토익 암기용<br/>
                단어장</h1>
            <p>SpringBoot + mustache를 이용해 만들고 있습니다.</p>
        </header>
        <p>토익 공부하다가 만들어보고 싶어서 만들었습니다</p>
        <ul class="actions">
            <li><a href="/api/words/list" class="button big">바로가기</a></li>
        </ul>
    </div>
    <span class="image object">
	    <img src="images/wordPic.jpg" alt="단어장" />
	</span>
</section>

<!-- Section -->
<section>
    <header class="major">
        <h2>포트폴리오 목록</h2>
    </header>
    <div class="toeicWords">
        <article>
            <a href="/api/chat/list" class="image"><img src="images/socketChat.jpg" alt="채팅" /></a>
            <h3>웹소켓을 이용한 채팅</h3>
            <p>업무중에 채팅기능 한번 탐구해보라고 해서 만들어봤습니다.</p>
            <ul class="actions">
                <li><a href="/api/chat/list" class="button">바로가기</a></li>
            </ul>
        </article>
<!--        <article>
            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
            <h3>Nulla amet dolore</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
            <h3>Tempus ullamcorper</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
            <h3>Sed etiam facilis</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
            <h3>Feugiat lorem aenean</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
            <h3>Amet varius aliquam</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>-->
    </div>
</section>
{{>layout/sidebar}}