{{>layout/header}}
<br/>
<!-- Form -->
<form method="post" action="#">
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <input type="text" name="demo-name" id="demo-word" value="" placeholder="단어" />
        </div>
        <div class="col-6 col-12-xsmall">
            <input type="text" name="demo-name" id="demo-meaning" value="" placeholder="의미" />
        </div>
        <div class="col-6 col-12-xsmall">
            <input type="text" name="demo-name" id="demo-category" value="" placeholder="Category" />
        </div>

        <!-- Break -->
        <div class="col-12">
            <ul class="actions">
                <li><input type="button" value="등록하기" id = "btn-save" class="primary" /></li>
            </ul>
        </div>
    </div>
</form>
{{>layout/sidebar}}