{{>layout/header}}
<!--<link rel="import" href="http://localhost:82/webrtc.html">-->
<div>
    <video id="localVideo" autoplay width="480px"></video>
    <video id="remoteVideo" width="480px" autoplay></video>
</div>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/assets/js/rtc.js"></script>
{{>layout/sidebar}}