{{>layout/header}}
<br/>
<h4>단어 목록</h4><p>출처: <a href="https://wayquest.tistory.com/entry/TOEIC-%ED%95%B4%EC%BB%A4%EC%8A%A4-%ED%86%A0%EC%9D%B5%EB%B3%B4%EC%B9%B4-%EC%99%B8%EC%9A%B0%EA%B8%B0-Excel-%EC%82%B0%ED%83%80%ED%86%A0%EC%9D%B5-%EB%AC%B8%EB%B2%95-%EC%A0%95%EB%A6%AC">https://wayquest.tistory.com/</a></p>
<div class="table-wrapper">
    <table class="alt">
        <thead>
        <tr>
            <th>단어</th>
            <th>의미</th>
            {{#guestEmail}}
                <th>암기여부</th>
            {{/guestEmail}}
        </tr>
        </thead>
        <tbody id="toeicList">
        {{#toeicWords}}
        <tr>
            <td><p name="word">{{word}}</p></td>
            <td><p name="meaning">{{meaning}}</p></td>
            {{#guestEmail}}
                <td><input type="button" value="V" id = "{{id}}" class="primary check-word" /></td>
            {{/guestEmail}}
        </tr>
        {{/toeicWords}}
        </tbody>
    </table>
    {{#pageCount}}
        <input type="hidden" id = "pageCount" value="{{pageCount}}"/>
        {{#pageNumber}}
            <input type="hidden" id = "pageNumber" value="{{pageNumber}}">
            <input type="hidden" id = "totalCount" value="{{totalCount}}">
        {{/pageNumber}}
    {{/pageCount}}
    <ul class="pagination" id="js-pagination">
    </ul>
</div>
{{>layout/sidebar}}