{{>layout/header}}
<br/>
<!--<div class="col-12">
    <select name="demo-category" id="word-category">
        <option value="">- 파트선택 -</option>
        #posts}}
        <option value="category}}">category}}</option>
        /posts}}
    </select>
</div>-->
<h4>단어 목록</h4>
<br/>
<div class="table-wrapper">
    <table class="alt">
        <thead>
        <tr>
            <th>단어</th>
            <th>의미</th>
        </tr>
        </thead>
        <tbody id="toeicList">
        {{#posts}}
        <tr>
            <td><p name="word">{{word}}</p></td>
            <td><p name="meaning">{{meaning}}</p></td>
        </tr>
        {{/posts}}
        </tbody>
    </table>
    <br/>
<!--    <ul class="pagination">
        <li><span class="button disabled">Prev</span></li>
        <li><a href="#" class="page active">1</a></li>
        <li><a href="#" class="page">2</a></li>
        <li><a href="#" class="page">3</a></li>
        <li><span>&hellip;</span></li>
        <li><a href="#" class="page">8</a></li>
        <li><a href="#" class="page">9</a></li>
        <li><a href="#" class="page">10</a></li>
        <li><a href="#" class="button">Next</a></li>
    </ul>
    <br/>-->
    <ul class="actions">
        <li><input type="button" value="단어 가리기" id = "btn-word" class="primary" /></li>
        <li><input type="button" value="의미 가리기" id = "btn-mean" class="primary" /></li>
    </ul>
    <ul class="actions">
        <li><a href="/api/words/save" class="button primary">단어 업로드</a></li>
    </ul>
    <ul class="actions">
        <li>
            <input type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="file" required/>
        </li>
        <li>
            <input type="button" value="엑셀 업로드" id = "btn-excel" class="button icon solid fa-download" />
        </li>
        <li>
            <form action="/api/words/excelDown" method="post">
                <input type="submit" value="양식 다운로드" id = "btn-xlsdown" class="button icon solid fa-download" />
            </form>
        </li>
    </ul>
</div>
{{>layout/sidebar}}